# Data
data/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.log
.venv/

# Frontend
node_modules/
dist/
build/
*.log

# General
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.temp
*.log
*.lock