services:
  postgis:
    image: postgis/postgis
    restart: always
    environment:
      POSTGRES_USER: gis
      POSTGRES_PASSWORD: password
      POSTGRES_DB: gis
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
      - ./Krankenh채userJoined.sql:/docker-entrypoint-initdb.d/Krankenh채userJoined.sql  # SQL init script
      - ./Krankenh채userMitTyp.sql:/docker-entrypoint-initdb.d/Krankenh채userMitTyp.sql  # SQL init script

  geoserver:
    image: kartoza/geoserver
    restart: always
    environment:
      GEOSERVER_ADMIN_PASSWORD: geoserver
    ports:
      - "8080:8080"
    depends_on:
      - postgis


